body {
	margin: 0;
	padding: 0;
	height: 100vh;
	background: #000;
	background: url(cc.jpg);
	background-size: cover;
}

.main {
	height: 50%;
	width: 50%;
	background: linear-gradient(-46deg, black, black);
	opacity: .8;
	border: 2px solid grey;
	margin-left: 25%;
	margin-top: 10%;

}

.pulse {
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translate(-50%, 50%);
	width: 200px;
	height: 200px;

	border-radius: 50%;
	box-shadow: inset 0 0 40px rgba(255, 255, 255, .5);
	background: url(earth.png);
	background-size: cover;
	animation: xx 4s linear infinite;
	margin-bottom: 15%;

}

h1 {
	font-size: 50px;
	font-family: Broadway;
	color: white;
	text-shadow: 2px 20px black;
}

@keyframes xx {
	0% {
		background-position: 0 0;
	}

	100% {
		background-position: 719px 0;
	}

}

button {
	font-family: rockwell extra bold;
	font-size: 150%;
	width: 200px;
	height: 50px;
	font-weight: bolder;
	background-color: black;
	color: white;
	margin-top: 40%;
	margin-left: 0%;

}